{% extends "main/layout.html" %}
{% block content %}
{{ super() }}
<div class="container mb-5">
    <div class="content-section">
        {% if fatwas %}
            {% if route=='asked_quest_fatwas' %}
                <div class="container"><h1>{{ _('users asked %(name)s questions, total : %(total)s',name=translated_name,total=total) }}</h1></div>
            {% elif route=='answered_quest_fatwas' %}
                 <div class="container"><h1>{{ _('users answered %(name)s questions, total : %(total)s',name=translated_name,total=total) }}</h1></div>
            {% elif route=='asked_user_quest_fatwas' %}
                {% if current_user.is_authenticated and session['role']=='User' and current_user.username == username %}
                    <div class="container"><h1>{{ _('Your asked %(name)s questions, total : %(total)s',name=translated_name,total=total) }}</h1></div>
                {% else %}
                    <div class="container"><h1>{{ _("This user's asked %(name)s questions, total : %(total)s",name=translated_name,total=total) }}</h1></div>
                {% endif %}
            {% elif route=='answered_user_quest_fatwas' %}
                {% if current_user.is_authenticated and session['role']=='User' and current_user.username == username %}
                    <div class="container"><h1>{{ _('Your answered %(name)s questions, total : %(total)s',name=translated_name,total=total) }}</h1></div>
                {% else %}
                    <div class="container"><h1>{{ _("User's answered %(name)s questions, total : %(total)s",name=translated_name,total=total) }}</h1></div>
                {% endif %}
            {% elif route=='mufti_quest_fatwas' %}
                {% if current_user.is_authenticated and session['role']=='Muft' and current_user.username == username %}
                    <div class="container"><h1>{{ _("Your answers to %(name)s questions, total : %(total)s",name=translated_name,total=total) }}</h1></div>
                {% else %}
                    <div class="container"><h1>{{ _("Mufti's answered %(name)s questions, total : %(total)s",name=translated_name,total=total) }}</h1></div>
                {% endif %}
            {% endif %}
            {% for fatwa in fatwas.items %}
                <div class="media-body">
                    <div class="article-metadata">
                        {% if fatwa.mufti_id %}
                            <a class="ml-2">{{ _('answered by mufti:') }}</a>
                            <a class="ml-2" href="{{ url_for('users.profile',username=usernames[fatwa.mufti_id] }}">
                                {{ usernames[fatwa.mufti_id]) }}
                            </a>
                            <a class="ml-2">{{ _('on: %(date)s',date=fatwa.answered_on) }}</a>
                        {% endif %}
                        {% if not quest_fatwa.anonym or current_user.is_authenticated and session['role'] == 'Admin' %}
                            <a class="ml-2">{{ _('asked by user:') }}</a>
                            {% if fatwa.mufti_id %}
                                <a class="ml-2" href="{{ url_for('users.profile',username=usernames[fatwa.user_id] }}">
                                    {{ usernames[fatwa.user_id]) }}
                                </a>
                            {% else %}
                                <a class="ml-2" href="{{ url_for('users.profile',username=username }}">
                                    {{ username) }}
                                </a>
                            {% endif %}
                            <a class="ml-2">{{ _('on: %(date)s',date=fatwa.added_on) }}</a>
                        {% else %}
                            <a class="ml-2">{{ _('asked by a user on: %(date)s',date=fatwa.added_on) }}</a>
                        {% endif %}
                    </div>
                    {% if current_user.is_authenticated and current_user.ver_em %}
                        <div>
                            {% if fatwa.mufti_id %}
                                {% set cond=session['role']=='Mufti' and fatwa.mufti_id == current_user.id %}
                                {% if cond %}
                                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('quest_fatwas.edit_quest_fatwa',id=fatwa.id) }}">{{ _('Update') }}</a>
                                {% endif %}
                                {% if cond or session['role']=='Admin' %}
                                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal1">{{ _('Delete') }}</button>
                                    <div class="modal fade" id="deleteModal1" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-conetent">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel1">{{ _('Delete fatwa ?') }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
                                                    <form action="{{ url_for('quest_fatwas.delete_quest_fatwa',id=fatwa.id) }}" method="post">
                                                        <input class="btn btn-danger" type="submit" value="{{ _('Confirm') }}">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% set cond=session['role']=='User' and fatwa.user_id == current_user.id %}
                                {% if cond %}
                                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('quest_fatwas.edit_quest_fatwa',id=fatwa.id) }}">{{ _('Update') }}</a>
                                {% endif %}
                                {% if cond or session['role']=='Admin' or session['role']=='Mufti' %}
                                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal2">{{ _('Delete') }}</button>
                                <div class="modal fade" id="deleteModal2" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel2" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-conetent">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel2">{{ _('Delete question ?') }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
                                                <form action="{{ url_for('quest_fatwas.delete_quest_fatwa',id=fatwa.id) }}" method="post">
                                                    <input class="btn btn-danger" type="submit" value="{{ _('Confirm') }}">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if session['role']=='Mufti' %}
                                 <div>
                                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('quest_fatwas.answer_quest_fatwa',id=fatwa.id) }}">{{ _('Answer') }}</a>
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                    <h2>
                        <a class="article-title" dir="rtl">{{ fatwa.question }}</a>
                    </h2>
                    {% if fatwa.mufti_id %}
                        <p class="article-content" dir="rtl">{{ fatwa.answer }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            {% for page_num in fatwas.iter_pages(left_edge=3, right_edge=3, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if fatwas.page == page_num %}
                        {% if route=='asked_quest_fatwas' %}
                            <a class="btn btn-info mb-4" href="{{ url_for('quest_fatwas.asked_quest_fatwas', name=name, page=page_num) }}">{{ page_num }}</a>
                        {% elif route=='answered_quest_fatwas' %}
                            <a class="btn btn-info mb-4" href="{{ url_for('quest_fatwas.answered_quest_fatwas', name=name, page=page_num) }}">{{ page_num }}</a>
                        {% elif route=='asked_user_quest_fatwas' %}
                            <a class="btn btn-info mb-4" href="{{ url_for('quest_fatwas.asked_user_quest_fatwas', name=name, page=page_num) }}">{{ page_num }}</a>
                        {% elif route=='answered_user_quest_fatwas' %}
                            <a class="btn btn-info mb-4" href="{{ url_for('quest_fatwas.answered_user_quest_fatwas', name=name, page=page_num) }}">{{ page_num }}</a>
                        {% elif route=='mufti_quest_fatwas' %}
                            <a class="btn btn-info mb-4" href="{{ url_for('quest_fatwas.mufti_quest_fatwas', name=name, page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        {% if route=='asked_quest_fatwas' %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('quest_fatwas.asked_quest_fatwas', name=name, page=page_num) }}">{{ page_num }}</a>
                        {% elif route=='answered_quest_fatwas' %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('quest_fatwas.answered_quest_fatwas', name=name, page=page_num) }}">{{ page_num }}</a>
                        {% elif route=='asked_user_quest_fatwas' %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('quest_fatwas.asked_user_quest_fatwas', name=name, page=page_num) }}">{{ page_num }}</a>
                        {% elif route=='answered_user_quest_fatwas' %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('quest_fatwas.answered_user_quest_fatwas', name=name, page=page_num) }}">{{ page_num }}</a>
                        {% elif route=='mufti_quest_fatwas' %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('quest_fatwas.mufti_quest_fatwas', name=name, page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        {% else %}
            {% if name == 'all' %}{% set in_topic=_(' yet') %}{% else %}{% set in_topic=_(' in this topic yet') %}{% endif %}
            {% if route=='asked_quest_fatwas' %}
                <div class="container"><h1>{{ _('No questions were asked %(topic)s', topic=in_topic) }}</h1></div>
            {% elif route=='answered_quest_fatwas' %}
                 <div class="container"><h1>{{ _('No questions were answered %(topic)s', topic=in_topic) }}</h1></div>
            {% elif route=='asked_user_quest_fatwas' %}
                {% if current_user.is_authenticated and session['role']=='User' and current_user.username == username %}
                    <div class="container"><h1>{{ _("You didn't ask any questions %(topic)s", topic=in_topic) }}</h1></div>
                {% else %}
                    <div class="container"><h1>{{ _('This user didn't ask any questions %(topic)s", topic=in_topic) }}</h1></div>
                {% endif %}
            {% elif route=='answered_user_quest_fatwas' %}
                {% if current_user.is_authenticated and session['role']=='User' and current_user.username == username %}
                    <div class="container"><h1>{{ _('Muftis didn't answer any of your questions %(topic)s', topic=in_topic) }}</h1></div>
                {% else %}
                    <div class="container"><h1>{{ _("Muftis didn't answer any of this user's questions %(topic)s", topic=in_topic) }}</h1></div>
                {% endif %}
            {% elif route=='mufti_quest_fatwas' %}
                {% if current_user.is_authenticated and session['role']=='Muft' and current_user.username == username %}
                    <div class="container"><h1>{{ _("You didn't answer any questions %(topic)s", topic=in_topic) }}</h1></div>
                {% else %}
                    <div class="container"><h1>{{ _("This mufti didn't answer any questions %(topic)s", topic=in_topic) }}</h1></div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock content %}