{% extends "main/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{{ super() }}
<div class="container mb-5">
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="ml-2">{{ _('added by mufti:') }}</a>
                <a class="ml-2" href="{{ url_for('users.profile',username =username) }}">{{ username }}</a>
                {% if session['role']=='Mufti' and current_user.id == fatwa.mufti_id %}
                <div>
                    {% if current_user.ver_em %}
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('fatwas.edit_fatwa',id=fatwa.id) }}">{{ _('Update') }}</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">{{ _('Delete') }}</button>
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">{{ _('Delete fatwa ?') }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
                                        <form action="{{ url_for('fatwas.delete_fatwa',id=fatwa.id) }}" method="post">
                                            <input class="btn btn-danger" type="submit" value="{{ _('Confirm') }}">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <h2>
                <a class="article-title" dir="rtl">{{ fatwa.question }}</a>
            </h2>
            <p class="article-content" dir="rtl">{{ fatwa.answer }}</p>
        </div>
    </article>
</div>
{% endblock content %}